<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ExcelWorksheetDirLoc" value="\\MSTPLExcelReport\\" />
    <add key="ExcelFileName" value="Report" />
    <add key="ExcelWorkSheetName" value="FixedReaderBarcodeUpdates" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=SMITHA;Initial Catalog=MSTPLFixedBarcodeReaderDB;Integrated Security=false;User Id=sa;Password=sipl@123" name="DBServerConnectionString" />
    <add name="MSTPLFixedBarcodeReaderDBEntities" connectionString="metadata=res://*/MSTPLDBModel.csdl|res://*/MSTPLDBModel.ssdl|res://*/MSTPLDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SMITHA;initial catalog=MSTPLFixedBarcodeReaderDB;user id=sa;password=sipl@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MSTPLFixedBarcodeReaderDBEntities1" connectionString="metadata=res://*/MSTPLDBModel.csdl|res://*/MSTPLDBModel.ssdl|res://*/MSTPLDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SMITHA;initial catalog=MSTPLFixedBarcodeReaderDB;user id=sa;password=sipl@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MSTPLFixedBarcodeReaderDBEntities2" connectionString="metadata=res://*/MSTPLDBModel.csdl|res://*/MSTPLDBModel.ssdl|res://*/MSTPLDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SMITHA;initial catalog=MSTPLFixedBarcodeReaderDB;user id=sa;password=sipl@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>